<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>You are now following "<%= @post.title %>" & will be notified of all comments.</h1>
     <small>If you wish to no longer receive notifications, please unfavorite your <%= link_to "post", topic_post_url(@post.topic, @post) %>.</small>
     <p>
       <%= @comment.body %>
     </p>
     <p>
       <%= link_to "View Post on site", topic_post_url(@post.topic, @post) %>
     </p>
   </body>
 </html>