<div class="row">
  <div class="col-md-12">
    <h1>About Bloccit</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <p class="lead">Just like Reddit, Bloccit is an app where you can discuss topics.</p>
    <h3>Where you can:</h3><ul>
      <li><h5>Securely sign up for an account</h5></li>
      <li><h5>Create a new post within any of the topics</h5></li>
      <li><h5>Comment on existing posts</h5></li>
      <li><h5>Favorite posts you enjoy to revisit later</h5></li>
      <li><h5>Vote posts up or down to provide feedback</h5></li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr>
    <blockquote>
      <p><small>Bloccit is a project hand-crafted by <a href="http://drianhillman.me" target="_blank">Drian Hillman</a> during the Software Engineering Track at <a href="https://www.bloc.io" target="_blank">BLOC</a>.</small></p>
    </blockquote>
  </div>
</div>